 body
 {
    background-size: cover;
 }

 .heading
 {
    font-size: 23px;
    width: 100%;
    margin: 0px;
 }

 #start , #number_of_objects , #status
 {
    font-size: 18px;
 }

 .copy_right_footer {
    position: fixed;
    color: #123456;
    bottom: 0;
    width: 100%;
    background-color: #098765;
    line-height: 3;
    text-align: center;
 }

 canvas
 {
    border: 2px solid rgb(240, 182, 182);
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px steelblue;
 }